<div class="container col-md-offset-4">
  <div class="col-md-4">
  <h1>Login</h1>
  <div class="col-sm-12 form-group">
    <label>Username</label>
    <input class="form-control" type="text" [(ngModel)]="loginData.username" />
  </div>
  <div class="col-sm-12 form-group">
    <label>Password</label>
    <input class="form-control" type="password"  [(ngModel)]="loginData.password"/>
  </div>
  <div class="col-sm-12">
    <button class="btn btn-primary pull-right" (click)="login()" type="submit">Login</button>
  </div>
</div>
</div>
