<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

</div>

<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
  <div class="panel panel-default search-component">
    <div class="panel-body">
      <div class="form-horizontal">
        <form role="form" [formGroup]="editJobForm" (ngSubmit)="onEdit()">
          <fieldset>

            <legend>Update Your Job Information</legend>
            <br>

            <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>

            <div class="col-lg-12">
              <div class="form-group">
                <label class="col-sm-3 control-label" for="jobTitle">Job Title</label>
                <div class="col-sm-9">
                  <input maxlength="100" type="text" name="jobTitle" required="required" class="form-control"
                         placeholder="Job Title" formControlName="title">
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="col-sm-6 control-label" for="jobType">Job Type</label>
                <div class="col-sm-6">
                  <select required="required" class="form-control" name="jobType" formControlName="jobType">
                    <option *ngFor="let item of jopTypes" [value]="item.id">{{ item.value }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="col-sm-6 control-label" for="industry">Industry</label>
                <div class="col-sm-6">
                  <select required="required" class="form-control" name="industry" formControlName="industry">
                    <option *ngFor="let item of industries" [value]="item.id">{{ item.value }}</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                <label class="col-sm-6 control-label" for="educationLevel">Education Level</label>
                <div class="col-sm-6">
                  <select required="required" class="form-control" name="educationLevel"
                          formControlName="educationLevel">
                    <option *ngFor="let item of educationLevels" [value]="item.id">{{ item.value }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="col-sm-6 control-label" for="careerLevel">Career Level</label>
                <div class="col-sm-6">
                  <select required="required" class="form-control" name="careerLevel" formControlName="careerLevel">
                    <option *ngFor="let item of careers" [value]="item.id">{{ item.value }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                <label class="col-sm-3 control-label" for="description">Job Description</label>
                <div class="col-sm-9">
                  <textarea class="form-control" rows="3" name="description" formControlName="description"></textarea>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                <label class="col-sm-3 control-label" for="requirements">Job Requirements</label>
                <div class="col-sm-9">
                  <textarea class="form-control" rows="3" name="requirements" formControlName="requirements"></textarea>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                <label class="col-sm-3 control-label" for="responsibilities">Job Responsibilities</label>
                <div class="col-sm-9">
                  <textarea class="form-control" rows="3" name="responsibilities"
                            formControlName="responsibilities"></textarea>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                <label class="col-sm-3 control-label" for="company">Company Name</label>
                <div class="col-sm-9">
                  <input maxlength="100" type="text" required="required" class="form-control" name="company"
                         formControlName="company">
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                <label class="col-sm-6 control-label" for="salary">Salary</label>
                <div class="col-sm-6">
                  <input maxlength="30" type="text" required="required" name="salary" class="form-control"
                         formControlName="salary">
                </div>
              </div>
            </div>
            <div class="col-lg-6">
            <div class="form-group">
              <div class="checkbox">
                <label class="control-label col-md-offset-3" for="resume">
                  <div class="col-sm-2">
                    <input type="checkbox" class="" value="" name="resume" formControlName="resume">
                  </div>
                  Resume required
                </label>
              </div>
            </div>
            </div>
            <div formGroupName="location">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="col-sm-6 control-label" for="card-number">Address</label>
                  <div class="col-sm-6">
                    <input maxlength="100" type="text" required="required" name="addressOne" class="form-control"
                           formControlName="addressOne">
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <div class="col-sm-6">
                    <input maxlength="100" type="text" name="addressTwo" class="form-control"
                           formControlName="addressTwo">
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="col-sm-6 control-label" for="city">City</label>
                  <div class="col-sm-6">
                    <input maxlength="100" type="text" required="required" name="city" class="form-control"
                           placeholder="Enter City" formControlName="city">
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="col-sm-6 control-label" for="province">State/Province</label>
                  <div class="col-sm-6">
                    <input maxlength="100" type="text" required="required" class="form-control" name="province"
                           placeholder="" formControlName="province">
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="col-sm-6 control-label" for="postalCode">Postal Code</label>
                  <div class="col-sm-6">
                    <input maxlength="100" type="text" required="required" name="postalCode" class="form-control"
                           formControlName="postalCode">
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="col-sm-4 control-label" for="country">Country</label>
                  <div class="col-sm-8">
                    <select required="required" class="form-control" name="country" formControlName="country">
                      <option value="0">Select Country</option>
                      <option value="pakistan">Pakistan</option>
                      <option value="usa">USA</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                <div class="col-xs-6 col-sm-6 col-md-offset-3">
                  <button type="submit" class="btn btn-default">Update</button>
                </div>
              </div>
            </div>

          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
