<div class="row">

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-default search-component">
      <div class="panel-body">
        <div class="col-md-8 col-md-offset-2">

          <form class="" [formGroup]="searchForm" (ngSubmit)="onSearch()">
            <div class="form-group col-md-5">
              <label for="keyword">Keywords</label>
              <input type="text" class="form-control" name="keyword"  formControlName="keyword" placeholder="Job Title, Company Name">
            </div>
            <div class="form-group col-md-5">
              <label for="location">Location</label>
              <input type="text" class="form-control" name="location"  formControlName="location" placeholder="Brampton, ON">
            </div>
            <div class="form-group col-md-2" style="padding-top: 24px;">
              <button type="submit" class="btn btn-default form-control">Find</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

</div>
<!--<div *ngIf="this.jobs.length !== 0"> 
  <app-findjob [jobs] = "jobs"></app-findjob>
</div>-->
