<div class="container sections-wrapper">
  <div class="row" style="margin-bottom: 0;">
    <div class="primary col-md-8 col-sm-12 col-xs-12">
      <!--<ngb-alert *ngIf="successMessage" type="{{alertType}}" (close)="successMessage = null">{{ successMessage }}</ngb-alert>-->

      <section class="experience section">
        <div class="section-inner">
          <h1 class="heading">{{job?.title}}</h1>
          <div class="content">
            <!--//item-->
            <div class="item">
              <h3 class="title">{{job?.company}} -- {{job?.location?.city}} {{job?.location?.province}} {{job?.location?.postalCode}}
                <span class="year pull-right">{{job?.createdDate | date: 'dd/mm/yyyy'}}</span>
              </h3>

              <h4 class="title">Description</h4>
              <p class="text-justify">{{job?.description}}</p>

              <h4 class="title">Requirements</h4>
              <div *ngFor="let req of requirements">
                <ul>
                  <li class="text-justify">
                    {{req}}
                  </li>
                </ul>
              </div>
              <h4 class="title">Responsibilities</h4>
              <div *ngFor="let res of responsibilities">
                <ul>
                  <li class="text-justify">
                    {{res}}
                  </li>
                </ul>
              </div>
              <h4 class="title">Education</h4>
              <p class="text-justify">{{job?.education?.name}}</p>
              <h4 class="title">Experience</h4>
              <p class="text-justify">{{job?.experience?.name}}</p>
            </div>
            <!--//item-->
          </div>
          <!--//content-->
        </div>
        <!--//section-inner-->
      </section>

    </div>


    <div class="secondary col-md-4 col-sm-12 col-xs-12">
      <aside class="list music aside section">
        <div class="section-inner">
          <h4 class="">Sumary</h4>
          <div class="content">
            <ul class="list-unstyled">
              <li><span class="text-primary"><strong>Job Type: </strong></span><br> {{job?.jobType?.name}}
              </li>
              <li><span class="text-primary"><strong>Salary: </strong></span><br> {{job?.salary}}
              </li>
              <li><span class="text-primary"><strong>Industry: </strong></span><br> {{job?.industry?.name}}
              </li>
              <li><span class="text-primary"><strong>Application Deadline: </strong></span><br> {{job?.deadline | date: 'dd/MM/yyyy'}}
              </li>
              <li><span class="text-primary"><strong>Work Hours/Week: </strong></span><br> {{job?.workHours}}
              </li>
            </ul>
          </div>
          <!--//content-->
        </div>
        <!--//section-inner-->
      </aside>

      <aside class="info aside section">
        <div class="section-inner">
          <h4 class="">Contact</h4>
          <div class="content">
            <blockquote class="quote">
              <ul class="list-unstyled">
                <li>{{job?.employer?.companyName}}</li>
                <li>{{job?.employer?.location?.addressOne}} {{job?.employer?.location?.addressTwo}} {{job?.employer?.location?.city}}
                  {{job?.employer?.location?.province}} {{job?.employer?.location?.postalCode}}
                </li>
                <li>{{job?.employer?.phoneOne}} {{job?.employer?.phoneTwo}}</li>
                <li>{{job?.employer?.email}}</li>
                <li><a href="#" target="_blank">{{job?.employer?.website}}</a></li>
              </ul>
            </blockquote>
          </div>
          <!--//content-->
        </div>
        <!--//section-inner-->
      </aside>

    </div>
  </div>
</div>